# EVA Assistant environment example
# Copyright (c) 2026 Steve Dogs Studio

DISCORD_TOKEN=your_bot_token_here
GUILD_ID=123456789012345678
AUDIT_CATEGORY_NAME=Аудит
AUDIT_CATEGORY_ID=
STATE_FILE=data/audit_state.json
ENABLE_MEMBERS_INTENT=false
ENABLE_MESSAGE_CONTENT_INTENT=false
NICK_PREFIX_RULES=1389394678561902652=🌸;1354908419567521986=🎲
IGNORED_CHANNEL_IDS=1409209895382814821
PROTECTED_VOICE_GUARD_ENABLED=true
PROTECTED_VOICE_GUARD_USER_IDS=220189945761890304
CHAT_BANTER_ENABLED=true
CHAT_BANTER_REPLY_CHANCE=0.35
CHAT_BANTER_CHANNEL_COOLDOWN_SECONDS=120
CHAT_BANTER_USER_COOLDOWN_SECONDS=300
PUBG_LOOKUP_ENABLED=false
PUBG_LOOKUP_CHANNEL_IDS=1354908421811601520
PUBG_PLATFORM=steam
PUBG_LOOKUP_INCLUDE_LIFETIME_STATS=false
PUBG_LOOKUP_CACHE_TTL_SECONDS=900
PUBG_LOOKUP_USER_COOLDOWN_SECONDS=20
PUBG_API_KEY=
STEAM_API_KEY=
